In [2]:
import pandas as pd

In [11]:
enterprise_info_with_credit_df = pd.read_excel('dataset/附件1：123家有信贷记录企业的相关数据.xlsx', sheet_name=0)
in_invoice_with_credit_df = pd.read_excel('dataset/附件1：123家有信贷记录企业的相关数据.xlsx', sheet_name=1)
out_invoice_with_credit_df = pd.read_excel('dataset/附件1：123家有信贷记录企业的相关数据.xlsx', sheet_name=2)

In [ ]:
enterprise_info_without_credit_df = pd.read_excel('dataset/附件2：302家无信贷记录企业的相关数据.xlsx', sheet_name=0)
out_invoice_without_credit_df = pd.read_excel('dataset/附件2：302家无信贷记录企业的相关数据.xlsx', sheet_name=1)
in_invoice_without_credit_df = pd.read_excel('dataset/附件2：302家无信贷记录企业的相关数据.xlsx', sheet_name=2)

Could not connect to 127.0.0.1: 11200
Traceback (most recent call last):
  File "D:\JetBrains\PyCharm 2021.3.2\plugins\python\helpers\pydev\_pydevd_bundle\pydevd_comm.py", line 458, in start_client
    s.connect((host, port))
ConnectionRefusedError: [WinError 10061] 由于目标计算机积极拒绝，无法连接。
Traceback (most recent call last):
  File "D:\JetBrains\PyCharm 2021.3.2\plugins\python\helpers-pro\jupyter_debug\pydev_jupyter_utils.py", line 81, in attach_to_debugger
    debugger.connect(pydev_localhost.get_localhost(), debugger_port)
  File "D:\JetBrains\PyCharm 2021.3.2\plugins\python\helpers\pydev\pydevd.py", line 655, in connect
    s = start_client(host, port)
  File "D:\JetBrains\PyCharm 2021.3.2\plugins\python\helpers\pydev\_pydevd_bundle\pydevd_comm.py", line 458, in start_client
    s.connect((host, port))
ConnectionRefusedError: [WinError 10061] 由于目标计算机积极拒绝，无法连接。
Failed to connect to target debugger.

In [8]:
bank_annual_interest_rate_and_client_wastage_rate_df = pd.read_excel('dataset/附件3：银行贷款年利率与客户流失率关系的统计数据 - 规范列名.xlsx')

In [24]:
enterprise_info_with_credit_df.info()
enterprise_info_with_credit_df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 123 entries, 0 to 122
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   企业代号    123 non-null    object
 1   企业名称    123 non-null    object
 2   信誉评级    123 non-null    object
 3   是否违约    123 non-null    object
dtypes: object(4)
memory usage: 4.0+ KB

       企业代号         企业名称 信誉评级 是否违约
count   123          123  123  123
unique  123           93    4    2
top      E1  ***建筑劳务有限公司    B    否
freq      1            7   38   96

In [25]:
in_invoice_with_credit_df.info()
in_invoice_with_credit_df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 210947 entries, 0 to 210946
Data columns (total 8 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   企业代号    210947 non-null  object
 1   发票号码    210947 non-null  int64
 2   开票日期    210947 non-null  datetime64[ns]
 3   销方单位代号  210947 non-null  object
 4   金额      210947 non-null  float64
 5   税额      210947 non-null  float64
 6   价税合计    210947 non-null  float64
 7   发票状态    210947 non-null  object
dtypes: datetime64[ns](1), float64(3), int64(1), object(3)
memory usage: 12.9+ MB

               发票号码            金额            税额          价税合计
count  2.109470e+05  2.109470e+05  2.109470e+05  2.109470e+05
mean   2.702761e+07  4.655349e+04  6.345313e+03  5.289880e+04
std    2.730446e+07  5.612044e+05  8.880450e+04  6.494968e+05
min    1.720000e+02 -9.823009e+06 -1.452991e+06 -1.110000e+07
25%    5.077360e+06  2.051300e+02  1.379000e+01  2.240000e+02
50%    1.660680e+07  4.867300e+02  4.256000e+01  5.200000e+02
75%    4.311491e+07  8.640780e+03  2.912600e+02  9.480900e+03
max    9.999754e+07  9.999985e+06  1.699990e+06  1.169993e+07

In [20]:
out_invoice_with_credit_df.describe()

               发票号码            金额             税额          价税合计
count  1.624840e+05  1.624840e+05  162484.000000  1.624840e+05
mean   9.392893e+06  8.687789e+04   11045.383030  9.792327e+04
std    1.075577e+07  2.099776e+05   31589.324542  2.401681e+05
min    1.376000e+03 -9.997715e+05 -169961.160000 -1.169733e+06
25%    2.910115e+06  2.724215e+03     253.260000  3.018400e+03
50%    6.007244e+06  1.752148e+04    1699.860000  1.979208e+04
75%    1.195165e+07  9.213362e+04    8256.880000  1.000000e+05
max    9.828650e+07  3.978957e+06  636633.100000  4.615590e+06

In [15]:
bank_annual_interest_rate_and_client_wastage_rate_df

     贷款年利率  信誉评级A-客户流失率  信誉评级B-客户流失率  信誉评级C-客户流失率
0   0.0400     0.000000     0.000000     0.000000
1   0.0425     0.094574     0.066800     0.068725
2   0.0465     0.135727     0.135052     0.122099
3   0.0505     0.224603     0.206580     0.181252
4   0.0545     0.302038     0.276812     0.263303
5   0.0585     0.347316     0.302883     0.290189
6   0.0625     0.413472     0.370216     0.349716
7   0.0665     0.447891     0.406297     0.390772
8   0.0705     0.497634     0.458295     0.457238
9   0.0745     0.511097     0.508719     0.492660
10  0.0785     0.573393     0.544409     0.513660
11  0.0825     0.609492     0.548494     0.530249
12  0.0865     0.652945     0.588766     0.587762
13  0.0905     0.667542     0.625765     0.590097
14  0.0945     0.694780     0.635605     0.642994
15  0.0985     0.708302     0.673527     0.658839
16  0.1025     0.731275     0.696925     0.696871
17  0.1065     0.775091     0.705316     0.719104
18  0.1105     0.798227     0.742936     0.711101
19  0.1145     0.790527     0.776401     0.750628
20  0.1185     0.815197     0.762023     0.776816
21  0.1225     0.814421     0.791504     0.784481
22  0.1265     0.854811     0.814999     0.795566
23  0.1305     0.870317     0.822298     0.820051
24  0.1345     0.871428     0.835302     0.832288
25  0.1385     0.885926     0.845748     0.844090
26  0.1425     0.874435     0.842071     0.836974
27  0.1465     0.902726     0.868160     0.872559
28  0.1500     0.922061     0.885865     0.895165